.titleEdit {
    font-family: "Source-Serif-Pro";
}

.titleEdit span {
    color: #B48A00;
}

.boxEdit {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 50vh;
    min-width: 50vw;
    gap: 20px;
    font-family: 'Source-Serif-Pro';
    animation: fade-in 0.7s ease-in;


}

.productFormDetails {
    width: 60%;
    border-radius: 10px;
    border: 1px solid black;
    padding: 0px 15px;
    min-height: 60vh;
}

.boxProductPreview {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    border-radius: 10px;
    border: 1px solid black;
    padding: 0px 15px;
    min-height: 61vh;
}

.formEditProd {
    display: flex;
    align-items: start;
    flex-direction: column;
    width: 100%;
    min-height: 20vh;
    gap: 20px;

}

.triLabel,
.imagesLabel {
    display: flex;
    gap: 10px;
    width: 100%;
}

.labelName {
    width: 50%;
}

.triLabel label,
.imagesLabel label {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-family: 'Source-Serif-Pro';
}

.triLabel label input {
    background: none;
    border-radius: 5px;
    height: 25px;
    border: 1px solid rgb(170, 170, 170);
}


.triLabel label select {
    background: none;
    background: none;
    border-radius: 5px;
    height: 25px;
    border: 1px solid rgb(170, 170, 170);
}




.imagesLabel {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(172, 172, 172);
    border-radius: 10px;
    gap: 10px;
    padding: 10px 0px;

}

.imagesLabel input {
    overflow: hidden;

}

.imagesLabel label {
    width: 30%;
}

.imagesLabel label span {
    margin: 10px 0px;
}

.imagesLabel label img {
    width: 40px;
}

.boxSelectImg {
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: .8em;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}


input[type="file"] {
    color: transparent;
    display: none;

}

.btnSubmit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.boxSelectImg img,
.galleryImgSelected img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.selectedImagesLabel {
    width: 30%;
    border-radius: 20px;
    flex-wrap: wrap;
    display: flex;
  align-items: center;
    flex-direction: column;
    gap: 5px;
    text-align: center;


}

.selectedImagesLabel div, .selectedImagesLabel span {
         animation: fade-in 0.7s ease-in;
}

.selectedImagesLabel span {
    font-weight: bold;
    margin: 10px 0px;
}

.rollSelected {
    min-width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    padding: 5px 10px;
    min-height: 40px;
    border-radius: 10px;
    border: 1px solid rgb(37, 37, 37);
}


.galleryImgSelected {
    width: 35px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;

}

.galleryImgSelected img {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid rgb(50, 50, 50);
}


.btnSubmit .btnEdit {
    font-family: 'Source-serif-pro';
    font-weight: bold;
    width: 50%;
    margin: 20px;
    padding: 15px 45px;
    text-align: center;
    font-size: 1em;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 20px;
    display: block;
    outline: none;
    border: none;
}

.btnEdit {
    background-image: linear-gradient(to right, #868686 0%, #000000 51%, #777777 100%);
}

.btnEdit:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.btnEdit:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.prevProduct {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    min-height: 350px;
    min-width: 250px;
}


.product_trending {
    display: flex;

    width: 230px;
    flex-direction: column;
    align-items: center;
    padding: 15px 15px;
    padding-top: 10px;
    border: solid 0.5px rgb(134, 134, 134);
    border-radius: 20px;
}

.product_details {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.imageProduct {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;


}

.imageProduct .newImage {
    animation: fade-in 0.7s ease-in;
}

.imageProduct img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;


}

.prevProduct h3,
p,
span {
    margin: 7px 0px;
}


.boxProdImg {
    display: flex;
    width: 150px;
    max-width: 150px;
    border-radius: 10px;

}

.product_Image {
    width: 100%;
    object-position: center;
    object-fit: cover;
    border-radius: 20px;
}

.nameAndCategory {
    display: flex;
    justify-content: center;
    align-self: center;
    text-align: center;
    margin-top: 5px;
    align-items: center;
    padding: 1px;
}

.product_name {
    color: rgb(0, 0, 0);
    text-align: center;
    text-align: center;
    font-family: 'Roboto', sans serif;
    font-weight: bold;
    text-transform: capitalize;
    margin: 1px;
    font-size: 1em;
    animation: fade-in 0.7s ease-in;

}

.product_category {
    color: rgb(99, 99, 99);
    text-align: center;
    font-family: 'Source-Serif-Pro', sans serif;
    font-weight: bold;
    font-size: .9em;
    margin: 2px;
    animation: fade-in 0.7s ease-in;
}

.prices {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.product_price {
    color: black;
    text-align: center;
    font-family: 'source-serif-pro', sans-serif;
    font-weight: 800;
    margin: 2px 0px 10px 0px;

    animation: fade-in 0.7s ease-in;

}

.product_prevPrice {
    color: rgb(121, 121, 121);
    text-align: center;
    font-family: 'source-serif-pro', sans-serif;
    font-weight: 800;
    font-size: .8em;
    margin: 1px;
    text-decoration: line-through;
    animation: fade-in 0.7s ease-in;

}

.product_button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    gap: 5px;

}


.product_button .btn_add {
    background-image: linear-gradient(to right, #F09819 0%, #EDDE5D 51%, #F09819 100%);
}

.product_button .btn_view {
    background-image: linear-gradient(to right, #232526 0%, #414345 51%, #232526 100%);
}

.btn_view {
    font-family: 'Roboto';
    font-weight: bold;
    width: 60%;
    margin: 1px;
    padding: 10px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
}

.btn_add {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin: 1px;
    padding: 10px 30px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    width: 40%;
}

.btn_add:hover,
.btn_view:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}



.shCart {
    width: 20px;
    height: 20px;

}

.shCart path {
    stroke: white;
}


/* animations */

@keyframes fade-in {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

.asteristic {
    font-size: .7em;
    color: #b45100;
}