.titleEdit {
    font-family: "Source-Serif-Pro";
}

.titleEdit span {
    color: #B48A00;
}

.boxEdit {
    min-height: 50vh;
    min-width: 50vw;
    display: flex;
    gap: 20px;
    font-family: 'Source-Serif-Pro';
    animation: fade-in 0.7s ease-in;
}

.productDetails {
    width: 60%;
    border-radius: 10px;
    border: 1px solid black;
    padding: 0px 15px;
}

.boxProductPreview {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    border-radius: 10px;
    border: 1px solid black;
    padding: 0px 15px;
}

.formEditProd {
    display: flex;
    align-items: start;
    flex-direction: column;
    width: 100%;
    min-height: 20vh;
    gap: 20px;

}

.triLabel,
.imagesLabel {
    display: flex;
    gap: 10px;
    width: 100%;
}

.labelName {
    width: 50%;
}

.triLabel label,
.imagesLabel label {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-family: 'Source-Serif-Pro';
}

.triLabel label input {
    background: none;
    border-radius: 5px;
    height: 25px;
    border: 1px solid rgb(170, 170, 170);
}


.triLabel label select {
    background: none;
    background: none;
    border-radius: 5px;
    height: 25px;
    border: 1px solid rgb(170, 170, 170);
}



input[type="file"] {
    color: transparent;
    display: none;
}



.imagesLabel {
    display: flex;

    border: 1px solid rgb(172, 172, 172);
    border-radius: 10px;
    gap: 10px;
    padding: 10px 0px;

}

.imagesLabel input {
    width: 380px;
    overflow: hidden;

}

.imagesLabel label {
    margin-left: 15px;

}

.imagesLabel label span {
    margin: 10px 0px;
}

.imagesLabel label img {
    width: 30px;
}

.boxSelectImg {
    display: flex;
    gap: 10px;
    font-size: .8em;
    border: 1px solid black;
    border-radius: 10px;
    padding: 0px 10px;
}

.btnSubmit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.btnSubmit .btnEdit {
    font-family: 'Source-serif-pro';
    font-weight: bold;
    width: 50%;
    margin: 20px;
    padding: 15px 45px;
    text-align: center;
    font-size: 1em;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 20px;
    display: block;
    outline: none;
    border: none;
}

.btnEdit {
    background-image: linear-gradient(to right, #868686 0%, #000000 51%, #777777 100%);
}

.btnEdit:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.prevProduct {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    min-height: 350px;
    min-width: 250px;
}

.imageProduct {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
   
}

.imageProduct .newImage {
     animation: fade-in 0.7s ease-in;
}

.imageProduct img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
     

}

.prevProduct h3,
p,
span {
    margin: 7px 0px;
}


.product_category {
    color: black;
    text-align: center;
    font-family: 'Source-Serif-Pro', sans serif;
    font-weight: bold;
    font-size: 1.5em;
    margin: 5px;
    animation: fade-in 0.7s ease-in;
}

.product_name {
    color: gray;
    text-align: center;
    text-align: center;
    font-family: 'Roboto', sans serif;
    font-weight: bold;
    text-transform: capitalize;
    margin: 1px;
    animation: fade-in 0.7s ease-in;
}

.product_price {
    color: black;
    text-align: center;
    font-family: 'source-serif-pro', sans-serif;
    font-weight: 800;
    margin: 5px;
     animation: fade-in 0.7s ease-in;

}

.product_prevPrice {
    color: black;
    text-align: center;
    font-family: 'source-serif-pro', sans-serif;
    font-weight: 800;
    font-size: .8em;
    margin: 5px;
    text-decoration: line-through;
     animation: fade-in 0.7s ease-in;

}

.product_button {
    display: flex;
    align-items: center;
    flex-direction: column;
}


.product_button .btn_view {
    background-image: linear-gradient(to right, #F09819 0%, #EDDE5D 51%, #F09819 100%);
}

.product_button .btn_add {
    background-image: linear-gradient(to right, #232526 0%, #414345 51%, #232526 100%);
}

.btn_add,
.btn_view {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    width: 80%;
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    outline: none;
    border: none;
}

.btn_add:hover,
.btn_view:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}




/* animations */ 

@keyframes fade-in {
  0% {
      opacity: 0%;
  } 

  100% {
    opacity: 100%;
  }
}
