header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: .2em;
    width: 100vw;
    height: 8vh;
    padding: .1em;
    box-shadow: 0px 0px 8px 0px rgb(69, 69, 69);
}

.box_logo {
    display: flex;
    width: 50px;
    height: 50px;
}

.navigations {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    ;
    font-family: 'Roboto';
    font-weight: 600;
    gap: 1em;
}

ul {
    list-style: none;
}


.ulcategories {
    display: flex;
    justify-content: center;
    gap: 2em;
    letter-spacing: 0.5px;
}

.search_box {
    min-width: 500px;
    display: flex;
}

.uloptionsuser {
    display: flex;

    justify-content: center;
    padding: 2px;
    gap: 1em
}

.item_optuser {
    display: flex;
    align-items: center;
    gap: 5px;
    letter-spacing: 0.5px;
}

.item_optuser a,
.ulcategories a {
    font-weight: bold;
}

.item_optuser .box_img {
    display: flex;
    align-items: center;
    height: 20px;
    object-fit: contain;
}

img {
    display: flex;
    width: 100%;
    height: 100%;
}