.containersh {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.box_cartCheckout {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.box_cartCheckout h2 {
    font-family: 'Roboto', sans-serif;
}

.boxitemsAndPrices {
    display: flex;
    justify-content: space-around;


}

.cartItems {
    display: flex;
    flex-direction: column;
    align-items: start;
    min-width: 550px;
    width: 50%;
    max-width: 800px;

}

.productCart {
    width: 100%;
    min-height: 18vh;
    display: flex;
    box-sizing: border-box;
    border: 1px solid grey;
    border-radius: 30px;

}

.productDetails {
    display: flex;
    gap: 20px;
}

.imageProduct {
    width: 250px;
    object-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    border-radius: 30px;
}

.imageProduct img {
    object-fit: contain;
    width: 80%;
    height: 80%;
}

.descProduct {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 10px;
}

.descProduct h3 {
    margin: 0px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
}

.descProduct span {
    color: grey;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.descProduct p {
    color: black;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

 



.checkoutAndPayMethods ,.checkout {
    display: flex;
    flex-direction: column;
    width: 100%;
    
    max-width: 400px;
    border: 1px solid grey;
    border-radius: 30px;
}

.checkoutAndPayMethods {
    border: none;
}

.checkoutPrices {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.checkoutLabel,
.totalPrice {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;

}

.totalPrice {
    border-top: 1px solid black;
    width: 80%;
    text-align: center;
    align-self: center;
    border-bottom: 1px solid black;
    text-transform: uppercase;
    font-weight: bold;
}

.submitCheckout {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.btn_check {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    width: 80%;
    margin: 20px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    outline: none;
    border: none;
}

.btn_check {
    background-image: linear-gradient(to right, #868686 0%, #000000 51%, #777777 100%);
}

.btn_check:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.boxPayMethods {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.box_brands_cards {
margin: 10px;
}

.we_accept {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50px;
    gap: 8px;

}

.we_accept h4 {
    text-transform: uppercase;
    margin: 0px;
    flex-shrink: 0;
}

.we_accept ul {
    display: flex;
    gap: 20px;
    padding: 0px;
    min-width: fit-content;
    flex-shrink: 1;
    margin: 0px;
}

.warranty {
    color: black;
    display: flex;
    min-width: fit-content;

}

.card {
    display: flex;
    width: 32px;
    height: 32px;
}

.card img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    flex-shrink: 2;
}