main {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.container_newcollections {
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/img/hype/vytenis-malisauskas-CiPxyCRM9ck-unsplash 1.svg');
    background-repeat: no-repeat;
    background-size: cover;
    transition: 2s ease-out;
    filter: grayscale();
    background-position-y: -20px;
}

.container_newcollections:hover {
    filter: none;
    transition: 0.5s ease-in;

}

.box_newArrivals {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 35%;
    min-height: 40%;
    background-color: transparent;

}

.box_newArrivals h2 {
    font-family: 'Source-serif-pro';
    margin: 35px;
    color: white;
    font-size: 4em;
    font-weight: bold;
    text-shadow: 1px 1px 10px black;
    letter-spacing: 1px;
}

.box_newArrivals button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 1em;
    width: 200px;
    height: 80px;
    background-color: transparent;
    color: white;
    outline: none;
    border: solid 1px white;
    padding: .8em;
    text-transform: uppercase;
    text-shadow: 1px 1px 10px 10px black;
    box-shadow: 1px 1px 30px 1px black;
}

.box_newArrivals button:hover {
    cursor: pointer;
}

.container_categories {
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 2s ease-out;
    filter: grayscale();

}

.box_categories {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    gap: 55px;


}

.container_categories:hover {
    filter: none;
    transition: 0.5s ease-in;
}

.kidsc,
.womanc,
.mensc {
    background-color: rgb(128, 128, 128);
    min-width: 250px;
    min-height: 60vh;
    width: 24.5%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.kidsc:hover {
    background-size: calc(60vh - 45%);
    transition: 0.8s all ease-out;
}

.womanc:hover {
    background-size: calc(60vh - 38%);
    transition: 0.8s all ease-out;
}


.mensc:hover {
    background-size: calc(60vh - 30%);
    transition: 0.8s all ease-out;
}

.kidsc {
    background-image: url(../../assets/img/hype/kin-li-a--1--Cmut8-unsplash.jpg);
    background-size: calc(60vh - 32%);
    background-position: center;

}

.womanc {
    background-image: url(../../assets/img/hype/dom-hill-nimElTcTNyY-unsplash.jpg);
    background-size: calc(60vh - 32%);

    background-position: center;
}

.mensc {
    background-image: url(../../assets/img/hype//faiz-akbar-hwPvOd7pAS4-unsplash.jpg);
    background-size: calc(60vh - 20%);
    background-position: center;
    background-repeat: no-repeat;
}

.name_category {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    text-align: center;
}


.name_category h2,
.name_category span {
    color: white;
    margin: 0px;
    font-size: 2em;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-weight: 600;
    text-shadow: 1px 1px 12px rgba(10, 10, 10, 0.589);
}

.container_trendingnow {
    width: 100%;
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
 transition: 2s ease-out;
    filter: grayscale();
    gap: 20px;
}

.container_trendingnow:hover {
    filter: none;
}

.box_trending_now {
    width: 800%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.box_trending_now h2 {
    color: black;
    margin: 0px;
    font-size: 2em;
    font-family: 'Source-Serif-Pro';
    font-weight: 800;
    margin: 20px 0px;

}

.trending_products {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;


}

.product_trending {
    display: flex;
    flex-direction: column;
    align-items: center;
  padding: 10px 10px;
    
}


.product_details {
    width: 200px;
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.product_details img {
    object-position: center;
    object-fit: cover;
    border-radius: 20px;
}


.product_category {
    color: black;
    text-align: center;
    font-family: 'Source-Serif-Pro', sans serif;
    font-weight: bold;
    font-size: 1.5em;
    margin: 5px;
}

.product_name {
    color: gray;
    text-align: center;
    text-align: center;
    font-family: 'Roboto', sans serif;
    font-weight: bold;
    margin: 1px;
}

.product_price {
    color: black;
    text-align: center;
    font-family: 'source-serif-pro', sans-serif;
    font-weight: 800;
    margin: 5px;
}

.product_button {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.product_button .btn_add {
    background-image: linear-gradient(to right, #232526 0%, #414345 51%, #232526 100%);
}

.product_button .btn_view {
    background-image: linear-gradient(to right, #F09819 0%, #EDDE5D 51%, #F09819 100%);
}

.btn_add,
.btn_view {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    width: 100%;
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    outline: none;
    border: none;
}

.btn_add:hover,
.btn_view:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}


