 @import url("https://use.typekit.net/zjv1xgw.css");
 @import url("https://use.typekit.net/zjv1xgw.css");


 :root {
   font-family: 'Sans Serif Pro', 'Roboto';
   line-height: 1.5;
   font-synthesis: none;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;

  --cr-size: 18px;
  --cr-radius: 4px;
  --cr-border-w: 1.5px;
  --cr-font-size: 16px;
  --cr-gap: 10px;
  --cr-row-gap: 12px;
  --cr-font-color: #111827;
  --cr-font-weight: 400;
  --cr-unchecked-bg: #ffffff;
  --cr-unchecked-border: #454545;
  --cr-checked-bg: #0a0a0a;
  --cr-checked-border: #9c9c9c;
  --cr-disabled-opacity: 0.4;


 }

 a {
   font-weight: 500;
   color: black;
   text-decoration: none;
   cursor: pointer;
 }

 body {
   margin: 0;
   display: flex;
   place-items: center;
   min-width: 320px;
   min-height: 100vh;
   overflow-x: hidden;
   box-sizing: border-box;
 }

 h1 {
   font-size: 3.2em;
   line-height: 1.1;
 }


 button {
   cursor: pointer;
 }


